.produto {
    min-height: 24em;
}

.imagem {
    height: 180px;
    overflow: hidden;
}

.miniatura {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.titulo {
    height: 3.7rem;
    overflow: hidden;
}

.cartao-login {
    width: 60%;
}