.produto {
    min-height: 24em;
}

.imagem {
    height: 180px;
    overflow: hidden;
}

table {
	min-width: 1000px;
}

.miniatura {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.titulo {
    height: 3.7rem;
    overflow: hidden;
}


@media screen and (min-width: 1001px) {
    
    .cartao-login {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    
    .cartao-login {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    
    .cartao-login {
        width: 100%;
        min-height: 80vh;
        margin-bottom: 2rem;
    }
}